@page
@model FruitWebApp.Pages.AddModel
@{
	ViewData["Title"] = "Add page";
}

@* Note: Many of the "class=" instances reference Bootstrap sytles. *@

@* Begin render Add code block *@
<form method="post">
    @* 	The FruitModels.id is here so the full data model is represented on the page.
		The database behind the API will assign the id. *@
	<input hidden asp-for="FruitModels.id" />
	<div class="border p-3 mt-4" style="width:50%">
		<div class="row pb-2">
			<h2 class="text-primary pl-3">Add Fruit</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="FruitModels.name" class="h5"></label><br/>
			@* Empty text box for the name of the fruit to be added. *@
			<input type="text" asp-for="FruitModels.name" />
			<span asp-validation-for="FruitModels.name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="FruitModels.instock" class="h5"></label><br/>
			@* Render the true/false instock state from the record in an editable checkbox. *@
			<input type="checkbox" asp-for="FruitModels.instock" style="width:20px; height:20px" />
			<label class="h7"><i class="bi bi-arrow-left"></i>  Check the box if it's available.</label>
			<span asp-validation-for="FruitModels.instock" class="text-danger"></span>
		</div>
		@* Submit the addition or return to the Index page if the Add is cancelled.*@
		<button type="submit" class="btn btn-primary" style="width:150px;">Create</button>
		<a asp-page="Index" class="btn btn-secondary" style="width:150px;">Cancel</a>
	</div>
</form>
@* End render Add code block *@