@page
@model FruitWebApp.Pages.DeleteModel
@{
	ViewData["Title"] = "Delete page";
}

@* Note: Many of the "class=" instances reference Bootstrap sytles. *@

@* Begin render Delete code block *@
<form method="post">
	@* 	The id for the data record is hidden because it needs to be avaialable to the 
		code-behind processing, but it's not displayed. *@
    <input hidden asp-for="FruitModels.id" />
	<div class="border p-3 mt-4" style="width:50%">
		<div class="row pb-2">
			<h2 class="text-primary pl-3">Delete Fruit</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="FruitModels.name" class="h5"></label><br/>
			@* Render the name of the fruit in a non-editable text box. *@
			<input type="text" asp-for="FruitModels.name" disabled/>
			<span asp-validation-for="FruitModels.name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="FruitModels.instock" class="h5"></label><br/>
			@* Render the true/false instock state from the record in a non-editable checkbox. *@
			<input type="checkbox" asp-for="FruitModels.instock" style="width:20px; height:20px" disabled  />
			<span asp-validation-for="FruitModels.instock" class="text-danger"></span>
		</div>
		@* Submit the changes or return to the Index page if the delete is cancelled.*@
		<button type="submit" class="btn btn-danger " style="width:150px;">Delete</button>
		<a asp-page="Index" class="btn btn-secondary" style="width:150px;">Cancel</a>
	</div>
</form>
@* End render Delete code block *@
